# Default ignored files
/../../PostOfficeCodesExtraction /.idea/shelf/
/../../PostOfficeCodesExtraction /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../PostOfficeCodesExtraction /.idea/httpRequests/
# Datasource local storage ignored files
/../../PostOfficeCodesExtraction /.idea/dataSources/
/../../PostOfficeCodesExtraction /.idea/dataSources.local.xml
